@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto';
    color: var(--text-color);
    margin: 0;
    --header-color: #D1DFB7;
    --sidebar-color: #FAE6BE;
    --text-color: black;
}

:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: var(--header-color);
    padding: 2em;
}

header .title {
    font-size: 28px;
}

main {
    display: flex;
    flex-grow: 1;
}

.left-bar {
    width: 20em;
    background-color: var(--sidebar-color);
}

.map-container {
    flex-grow: 1;
    width: 500px;
    height: 500px;
}

footer {
    background-color: var(--header-color);
    padding: 1em;
}